.content {
    margin-left: 20px;
}

h1 {
    color: #27374d;
}

.cardItem {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 30px;
}

.addTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #27374d;
    color: #dde6ed;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.addTaskBtn:hover {
    background-color: #1a2a3a;
}

.taskList {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #dde6ed;
    border: 3px solid #27374d;
    min-height: 220px;
    max-height: 220px;
    overflow-y: auto;
}